.redbox{
    border:3px solid red;
    padding:10px;
    margin:10px;
}
.bluebox{
    border:3px solid blue;
    padding:10px;
    margin:10px;
}
.greenbox{
    border:3px solid green;
    padding:10px;
    margin:10px;
}
