.redbox{
  border:1px solid red;
  padding:10px;
  margin:10px;
}
.greenbox{
  border:1px solid green;
  padding:10px;
  margin:10px;
}
.bluebox{
  border:1px solid blue;
  padding:10px;
  margin:10px;
}